.primaryButton
    &:hover
        background-color: transparent
        color: #3f9ee8
        border: 2px solid #3f9ee8!important
.secondaryButton
    &:hover
        background-color: #3f9ee8
        color: white!important