.cardCalculator
    width: 350px
    height: 290px
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 25px
    border-radius: 20px
    margin: auto
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
    .result
        height: 80px
        width: 100%
        justify-content: end
        align-items: center
        .number
            color: #8A8A8A
            font-size: 50px
            font-style: normal
            font-weight: 700
            line-height: normal
    .inputsCalculator
        width: 100%
        height: 36px
        margin-top: 10px
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        .inputCal
            width: 48%
            height: 100%
            background-color: #a5a5a5!important
            border: 1.5px solid #3f9ee8!important
            border-radius: 5px
            color: white
            padding: 15px
            &:hover, &:active, &:focus
                outline: none
                border: none
                color: white
    .buttons
        margin-top: 10px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 80px
        width: 100%
        .button
            width: 62px
            height: 62px
            background-color: #3f9ee8
            color: white
            display: flex
            align-items: center
            justify-content: center
            border: 1.5px solid #3f9ee8!important
            &:hover, &:active, &:focus
                outline: none
                border: none
                background-color: white
                color: #3f9ee8!important
